@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#cabecalho{
     background-image: url(assets/back.jpg);
     background-size: cover;
     height: 500px;  
}

#cabecalho h1{
    color: white;
    text-align: left;
    position: relative;
    top: 250px;
    margin-left: 30px;
    font-size: 100px;
    font-family:monospace;
}

.nav-style{
    position: relative;
    top: 300px;
    margin-left: 30px;
}

.logo-style{
    width: 20px;
    vertical-align: bottom;
    padding-right: 5px;
}

#linkedin-botao{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    font-family: monospace;
    margin: 10px;
}

#linkedin-botao:hover{
    background-color: #0A66C2;
    color: white;
    transition: 0.5s;
}

#github-botao{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    font-family: monospace;
}

#github-botao:hover{
    background-color: rgb(43, 42, 42);
    color: white;
    transition: 0.5s;
}

#sobre-mim{
    font-family: monospace;
    font-weight: bolder; 
    color: rgb(26, 25, 25);
    margin: 50px;
    text-align: center;
    background-color: #ecebeb;
    padding: 50px;
    border-radius: 5px;
    
}

#sobre-mim:active{
    transition: 1s;
    background-color: rgb(29, 28, 28);
    color: white;
}

#clique{
    margin-top: 20px;
}

main h2{
    font-family: monospace;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: rgb(26, 25, 25);
}